---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro"
import { MoveDown } from "lucide-astro";
---

<Layout title="Alexander Hyman">
  <Navbar />
  <div class="mt-[30vh] p-2 min-h-screen overflow-auto">
    <div
      class="absolute bottom-6 text-center left-0 right-0 mx-auto w-[140px] justify-center"
    >
      <a href="#about">
        <div
          class="flex p-2 border rounded-xl gap-2 font-semibold hover:scale-110 transition-all cursor-pointer animate-pulse"
        >
          <MoveDown class="w-5" /> Learn More
        </div>
      </a>
    </div>
    <div class="flex flex-col p-3">
      <h1 class="text-5xl font-semibold">Hello!</h1>
      <p class="text-2xl mt-3 font-medium">
        I'm Alexander, and I am a Canadian Typescript Developer and Designer,
        based out of Oceanside, California.
      </p>
    </div>
  </div>
  <div
    class="flex flex-col min-h-screen justify-center p-3 text-white text-opacity-80"
    id="about"
  >
    <h1 class="text-4xl font-semibold text-left">About</h1>
    <p class="text-xl mt-6 font-medium">
      Hiya! Nice to meet you, and thanks for checking out my portfolio! Here's a
      little about me: I'm Alexander as you may know. I'm a full-stack <i
        >(I don't even know if I can say that haha)</i
      > developer with a preferred preference for backend development. I'm a
      relative simple person, I got into coding around the age of 16! My first
      ever Discord.JS bot, yikes that was a disaster. A few fun facts about me
      is, I love to read <i>(I'm currently reading Warrior Cats!)</i> and I'm a <s
        >furry</s
      > but pretend you never heard that ;)
    </p>
    <br />
    <br />
    <p class="text-xl mt-3 font-medium">
      I've worked in a variety of places! Some notable ones would be, <b
        >TruckyMods</b
      >, <b>Relatio</b> and, <b>Omero Systems</b> and that just scratches the
      surface. If you want to take a look at a project of mines, why not check
      out <span class="font-bold underline underline-offset-1"
        ><a href="https://github.com/lavenderfoxxo/fluff">Fluff</a></span
      >? It's a furry discord bot that has been on and off development wise,
      however I'm very proud of it!
    </p>
    <br />
    <br />
    <p class="text-xl mt-5 font-medium">
      Besides that, you can usually catch me hanging around my friends, <b
        ><a href="https://marino.codes">Marino</a></b
      >, <b><a href="https://jackmerrill.com">Jack</a></b>, <b
        ><a href="https://ethn.sh">Ethan</a></b
      > or <b>Mathis</b>. If not with them, you'll probably find me lost in the
      rabbit hole of TikTok, quite addicting one might say.
    </p>
  </div>
  <div
    class="flex flex-col min-h-screen w-full justify-center p-3 text-white text-opacity-80"
    id="projects"
  >
    <h1 class="text-4xl font-semibold text-left">Projects</h1>
    <p class="text-xl mt-3 font-medium">
      Interested in what I've done and what I'm currently up to? Well, you can
      find out below!
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 mt-6 gap-4 w-full">
      <a
        href="https://relatio.cc"
        class="w-full rounded-lg hover:scale-105 cursor-pointer transition-all border border-white/60 backdrop-blur-md p-3 py-3"
      >
        <p class="font-bold">Relatio</p>
        <p>Typescript Engineer</p>
        <p class="opacity-80">December 2022 - Present</p>
      </a>
      <a
        href="https://unnamed.engineering"
        class="w-full rounded-lg hover:scale-105 cursor-pointer transition-all border border-white/60 backdrop-blur-md p-3 py-3"
      >
        <p class="font-bold">Unnamed Engineering</p>
        <p>Developer & Designer</p>
        <p class="opacity-80">August 2023 - Present</p>
      </a>
      <a
        href="https://fsphotos.cc"
        class="w-full rounded-lg hover:scale-105 cursor-pointer transition-all border border-white/60 backdrop-blur-md p-3 py-3"
      >
        <p class="font-bold">FSPhotos</p>
        <p>Developer & Designer</p>
        <p class="opacity-80">February 2023 - Present</p>
      </a>
      <a
        href="https://pulse.byambo.com"
        class="w-full rounded-lg hover:scale-105 cursor-pointer transition-all border border-white/60 backdrop-blur-md p-3 py-3"
      >
        <p class="font-bold">Pulse Music Bot</p>
        <p>Lead Developer</p>
        <p class="opacity-80">January 2023 - June 2023</p>
      </a>
      <a
        href="https://omerobot.co.uk"
        class="w-full rounded-lg hover:scale-105 cursor-pointer transition-all border border-white/60 backdrop-blur-md p-3 py-3"
      >
        <p class="font-bold">Omero Systems Ltd</p>
        <p>Chief Technology Officer</p>
        <p class="opacity-80">April 2023 - July 2023</p>
      </a>
      <a
        href="https://truckymods.io"
        class="w-full rounded-lg hover:scale-105 cursor-pointer transition-all border border-white/60 backdrop-blur-md p-3 py-3"
      >
        <p class="font-bold">TruckyMods</p>
        <p>Laravel Developer</p>
        <p class="opacity-80">January 2023 - March 2023</p>
      </a>
    </div>
  </div>
  <Footer />
</Layout>
