<div class="p-3 border-t-2 md:justify-between md:flex font-semibold">
    <p class="text-center md:text-left">Made with ❤️ by Alexander</p>
    <div class="gap-4 flex">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#projects">Projects</a>
        <a href="/contact">Contact</a>
    </div>
</div>