---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
---

<div
  class="pt-4 pb-2 lg:flex justify-between max-w-5xl mx-auto border-b-2 container font-semibold"
>
  <Astronav closeOnClick>
    <div class="flex w-full justify-between text-white px-4 lg:p-0">
      <a>Alexander Hyman</a>
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-white" />
      </div>
    </div>
    <div class="mt-2 px-2 md:m-0 md:py-0">
      <MenuItems
        class="hidden p-3 items-center justify-center mx-auto w-auto lg:w-auto border rounded-lg lg:border-0 lg:rounded-none lg:p-0 lg:flex text-white"
      >
        <ul class="flex flex-row lg:flex-row gap-5">
          <a href="/"
            ><li
              class="hover:scale-110 transition-all cursor-pointer underline-offset-1"
            >
              Home
            </li></a
          >
          <a href="/#about"
            ><li
              class="hover:scale-110 transition-all cursor-pointer underline-offset-1"
            >
              About
            </li></a
          >
          <a href="/#projects"
            ><li
              class="hover:scale-110 transition-all cursor-pointer underline-offset-1"
            >
              Projects
            </li></a
          >
          <a href="/contact"
            ><li
              class="hover:scale-110 transition-all cursor-pointer underline-offset-1"
            >
              Contact
            </li></a
          >
        </ul>
      </MenuItems>
    </div>
  </Astronav>
</div>
